/* Write your code here. */
.bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png);
  background-size: cover;
  height: 100vh;
}

.heading {
  font-family: "Roboto";
  font-size: 30px;
  color: #0f172a;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.profile-image {
  height: 150px;
  width: 150px;
}
.name {
  font-family: "Roboto";
  font-size: 20px;
  color: #1e293b;
}

.institute {
  font-family: "Roboto";
  font-size: 16px;
  color: #1e293b;
  text-align: center;
}
